h1 {
    text-align: center;
}

.grid-square {
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    aspect-ratio: 1 / 1;
    font-size: 12vw;
    vertical-align: middle;
    border: solid;
    border-width: 2px;
}

.grid-square:hover {
    background-color: lightskyblue;
}

.game-container {
    padding: 1em;
    max-width: 540;
    margin: auto;
}